<html>
<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:100%;
}
table, th, td {
  border: 0px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: #35978f;
  color: white;
}
</style>
</head>
<body>
<title>Kuyumcu Monitör</title>
<h2>Kuyumcu Monitör</h2>
<p>Gram altın fiyatı: {{GoldPrice}} TL</p>
<p>Badem fiyatı: {{BademPrice}} TL</p>
<table id="t01">
	<tr>
		<th>Kuyumcu İsmi</th>
		<th>Badem Alış Fiyatı</th> 
		<th>Badem Satış Fiyatı</th>
	</tr>
	<tr>
		<td><a href="http://kuyumcu.badem.io/">{{Name1}}</a></td>
		<td>{{BademBuyRate1}} ({{BademBuyRateTL}} TL)</td>
		<td>{{BademSellRate1}} ({{BademSellRateTL}} TL)</td>
	</tr>
	<tr>
		<td>X Kuyumculuk</td>
		<td>{{BademBuyRate2}}</td>
		<td>{{BademSellRate2}}</td>
	</tr>
	<tr>
		<td>Bir diğer kuyumcu</td>
		<td>{{BademBuyRate3}}</td>
		<td>{{BademSellRate3}}</td>
	</tr>
	<tr>
		<td>Y Kuyumculuk</td>
		<td>{{BademBuyRate4}}</td>
		<td>{{BademSellRate4}}</td>
	</tr>
</table>

</body>
</html>
